body{
    background: url("google_maps.png") center center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    animation: zoom 15s linear infinite;
}

@keyframes zoom {
    0%   { background-size: 130% auto; }
    50% { background-size: 145% auto; }
    100% { background-size: 130% auto; }
  }

.jumbotron{
    background-color: #EAE0CC;
    border: 5px #c60c30 solid;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
}

#title{
    color: whitesmoke;
    text-align: center;
    font-family: 'Monoton', cursive;
}

#sub-title{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}

.current{
    background-color: #4D6A6D;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 10px; 
    font-weight: bold;
    font-size: 1.5em;
}

table{
    border-radius: 0 0 10PX 10PX;
    border-collapse: unset;
}

#trainDiv{
    border: 2px #EAE0CC solid;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.add{
    background-color: #4D6A6D;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px;
}

#addTrain{
    background-color: white;
    border: 2px #EAE0CC solid;
    border-radius: 0 0 10px 10px;
    margin-bottom: 15px;
    padding: 10px;  
}

label{
    font-weight: bold;
}

button{
    background-color: #798478  !important;
    border: #4D6A6D solid 2px !important;
}