body{
    background-image: url(../css/google_maps.png);
    background-repeat: no-repeat;
}

.jumbotron{
    background-color: #00a1de;
    border: 5px #c60c30 solid;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
}

#title{
    color: whitesmoke;
    text-align: center;
    font-family: 'Monoton', cursive;
}

#sub-title{
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}

.current{
    background-color: #00a1de;
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 10px; 
    font-weight: bold;
    font-size: 1.5em;
}

table{
    border-radius: 0 0 10PX 10PX;

}

#trainDiv{
    border: 2px #00a1de solid;
    background-color: white;
}

.add{
    background-color: #00a1de;
    border-radius: 10px 10px 0 0;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px;
}

#addTrain{
    background-color: white;
    border: 2px #00a1de solid;
    border-radius: 0 0 10px 10px;
    margin-bottom: 15px;
    padding: 10px;  
}

label{
    font-weight: bold;
}

button{
    background-color: #00a1de !important;
}